html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #AD98D4;
  color: #EEEEEE;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(https://lh5.googleusercontent.com/proxy/jqZohPgWrfVLOmky43zpru_8D852N71Eshw…E8aZWFCje2wW_gCMLbQYjaAhtgXFI6npGkfLpdkYiqwF2jQaQ=w3840-h2160-p-k-no-nd-mv);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

button {
  outline: none;
}
