:root {
  --primary: #333;
  --secondary: #f6f8fa;
  --primary-text: #2f363d;
  --secondary-text: #ddd;
  --accent: #607D8B;
}

.light-theme {
  --primary: #CFD8DC;
  --secondary: #f8fdff;
}

.dark-theme {
  --primary: #2f363d;
  --secondary: #24292e;
  --primary-text: #fff;
  --secondary-text: #eee;
  --accent: #fff
}

body {
  background-color: var(--secondary);
  color: var(--primary-text);
}

a, a:visited {
  color: var(--accent);
}